# User-specific files
*.suo
*.user
*.userprefs
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

# Test results
*/test-results/*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac desktop service store files
.DS_Store
